<form action="/books/insertbook" method="POST" class="form-container row justify-content-center">
        <h1>Register your book</h1>
        <div class="form-control">
            <label for="title">Title:</label>
            <input type="text" name="title" placeholder="Type the title">
        </div>
        <div class="form-control">
            <label for="pageqty">Page Numbers:</label>
            <input type="number" name="pageqty" placeholder="How many pages does the book have?">
        </div>
        <input class="btn" type="submit" value="Register">
</form>



